build/

Compiler/LIB/*
Compiler/COMPILER/*

!Compiler/COMPILER/

Compiler/COMPILER/bin/
Compiler/LIB/bin/
Compiler-Mantrax-PlayBackEngine/COMPILER/bin/
Compiler-Mantrax-PlayBackEngine/LIB/bin/

!Compiler/LIB/CMakeLists.txt
!Compiler/COMPILER/CMakeLists.txt

!Compiler/CompileEngine_VS_19_2022.bat

README.md